<h1>The List of Books in the Store</h1>

<table style="width:500px; border:1px solid grey; border-collapse:collapse;">
<tr>
  <th style="border:1px solid grey;" align="left">Title</th>
  <th style="border:1px solid grey;" align="left">Avg Star Rating</th>
</tr>
<% all_books = Book.read %>
<% all_books.each do |book| %>
  <tr>
    <td style="border:1px solid grey;"><%= link_to book["title"], "/books/#{book["id"]}" %></td>
    <% avg_rating = Review.where("book_id" => book.id).average("rating") %>
    <td style="border:1px solid grey;"><%= number_with_precision(avg_rating, :precision => 1)  %></td>
  </tr>
<% end %>
</table>
