<h1> Check out this Dice Roll ! </h1>

Each time you visit or refresh this page, two random numbers from 1 to 6 will be displayed, like rolling a pair of dice
<ul>
  <% randomdice1 = Diceroll.sample %>
  <li><%= randomdice1["face"] %></li>
  <% randomdice2 = Diceroll.sample %>
  <li><%= randomdice2["face"] %></li>
</ul>

<p>Now here images of dice are displayed that will have the same face numbers as two random numbers generated above
  <br><img src = <%= randomdice1["url"] %> alt="Dice Image1" width="80" height="80">
  <img src = <%= randomdice2["url"] %> alt="Dice Image2" width="80" height="80">
<br>Cool isnt it!</p>
